<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="../app.js"></script>
</head>
<body>
    <h1>{{judul}}</h1>
    <h2>Isi Knten</h2>
    <p>{{desc}}</p>
    <h2>isi datanya adalah</h2>
    <p>{{isi_data}}</p>
</body>

</html>